<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="https://github.com/mbarge/urnie">Urnie @ Github</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">Site by Matt Bargenquast</p>
            </div>
        </div>
    </div>
</footer>