<div class="row">
    <div class="column">
        <a href="/urn">List</a>
    </div>
    <div class="column">
        <a href="/urn/add">Add</a>
    </div>
    <div class="column">
        <a href="/admin">Admin</a>
    </div>
</div>

<div class="row">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</div>