{% extends 'layout.html' %}

{% block app_content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-success" role="alert"><b>{{ category }}</b>: {{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

   <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.urn.label }}<br>
            {{ form.urn(size=30) }}
            {% for error in form.urn.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.url.label }}<br>
            {{ form.url(size=60) }}
            {% for error in form.url.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
   </form>

{% endblock %}
